#nav-bar {
  position:fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header{
  font-size: 2em;
  margin-left: 10px;
  line-height: 80px;
  vertical-align: middle;
  float: left;
}

#compose-btn {
  float: right;
  line-height: 50px;
  vertical-align: middle;
  margin: 12px 12px 12px 12px;
  width: 80px;
  border-radius: 0.5em;
  background-color: rgb(220, 235, 233);
  color: #00a087;
  font-weight: 300;
  border: 2px solid black;
}

#compose-btn:hover {
 background-color: white;
 color: black;
}

#nav-bar:after{
  clear:both;
}